body {
    font-family: 'Mynerve', cursive;
    font-family: 'Roboto', sans-serif;
}


.row {
}

    .row .menu {
        margin-top: 25px;
    }

.menu {
    margin-top: 250px;
}

    .menu a {
        color: white;
        text-decoration: none;
        font-size:10pt;
    }
    .menu a:hover {
        color:yellowgreen;
    }

.img {
    width: 100%;
    height: 500px;
}

.text{
    text-align:center;
}